/**

Mini Profile Template

https://templatemo.com/tm-530-mini-profile


Color Codes
------------
brown: #986665;
green: #98cb00;
orange: #cc6733;
blue: #3398cc;
dark-gray: #676767;
light-gray: #999999;
text-gray: #6b6b6b;

*/

html {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #6b6b6b;
  overflow-x: hidden;
}

a,
button {
  transition: all 0.3s ease;
}

a:hover {
  text-decoration: none;
}

.container-fluid {
  max-width: 1200px;
}

.tm-bg-black-transparent {
  background-color: rgba(0, 0, 0, 0.5);
}

.tm-bg-white-transparent {
  background-color: rgba(255, 255, 255, 0.8);
}

.tm-bg-green {
  background-color: #98cb00;
}

.tm-bg-orange {
  background-color: #cc6733;
}

.tm-bg-blue {
  background-color: #3398cc;
}

.tm-bg-purple {
  background-color: #dd6ef6;
}

.tm-bg-dark-gray {
  background-color: #676767;
}

/*
  Welcome section
*/
#tmWelcome {
  position: relative;
  display: flex;
  align-items: center;
}

.tm-brand-container-outer {
  margin-top: -400px;
}

.tm-brand-container-inner {
  max-width: 680px;
  width: 100%;
}

.tm-brand-container {
  padding: 75px 110px;
}

.tm-brand-name {
  font-size: 3.0rem;
}

.tm-brand-description {
  font-size: 1.4rem;
}

.parallax-window {
  min-height: 1100px;
  background: transparent;
}

#tmContact {
  min-height: 1197px;
}

.tm-welcome-container {
  min-height: 400px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: stretch;
}

.tm-welcome-title {
  margin-bottom: 40px;
}

.tm-welcome-left {
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.tm-welcome-left-col {
  display: flex;
  align-items: center;
}

.tm-welcome-right {
  color: white;
  background-color: #986665;
  padding: 80px 43px 70px;
  height: 100%;
}

.tm-welcome-icon {
  margin-bottom: 50px;
  display: block;
  text-align: center;
}

/*
  Portfolio section
*/

#tmPortfolio {
  padding-top: 80px;
}

.tm-portfolio-item {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}

.tm-portfolio-name {
  width: 330px;
  height: 220px;
  font-size: 2rem;
  /*padding: 70px 95px;*/
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  justify-content: center; /* Center the content horizontally */
}

.tm-portfolio-name img {
		border-radius: 10px; /* Adjust the value to control the roundness */
        width: 100%;
        height: auto;
    }

.tm-portfolio-description {
  width: calc(100% - 330px);
  padding: 20px 45px;
}

.tm-portfolio-description h3 {
  margin-bottom: 20px;
}

.tm-text-green {
  color: #98cb00;
}

.tm-text-orange {
  color: #cc6733;
}

.tm-text-blue {
  color: #3398cc;
}

.tm-text-purple {
  color: #dd6ef6;
}

.tm-text-dark-gray {
  color: #676767;
}

.tm-title-small {
  font-size: 1.0rem;
}

p {
  line-height: 1.8;
}

/*
  Certificate section
*/
.tm-section-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 60px; /* Increase the font size */
}

/*
  Contact section
*/

#tmContact {
  padding-top: 95px;
}

.tm-my-contact-item {
  width: 100%;
  /*max-width: 345px;*/
  height: auto;
  /*min-height: 420px;*/
  margin-right: 35px;
  /*background-color: white;*/
  /*padding: 54px 34px 44px;*/
  align-items: center;
}

.my-contact-text {
        text-align: center;
        margin-bottom: 20px;
    }

.my-contact-space {
        margin-right: 20px; /* Add space after the word "LinkedIn" */
    }

.my-contact-image {
        width: 30px; /* Set the width of the image */
        height: auto;
    }

.cert-image {
        width: 50%; /* Set the width of the image */
        max-width: 50%;
		height: auto;
    }
	

.tm-contact-item {
  width: 33.3334%;
  max-width: 550px;
  height: auto;
  min-height: 420px;
  margin-right: 35px;
  background-color: white;
  padding: 54px 34px 44px;
}

.tm-contact-item img {
		border-radius: 10px; /* Adjust the value to control the roundness */
		max-height: 100%;
		width: auto;
		margin:center;

	}

.tm-contact-item:last-child {
  margin-right: 0;
}

.tm-contact-items-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 130px;
}

.tm-contact-item-icon {
  margin-bottom: 45px;
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#tmContactForm {
  width: 100%;
  max-width: 680px;
  padding: 45px 45px 30px;
  margin-bottom: 95px;
}

.form-group {
  max-width: 355px;
}

.form-control {
  background: transparent;
  border-color: #999999;
  padding: 15px 10px;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.tm-btn-submit {
  background-color: #999999;
  padding: 12px 30px;
  font-size: 1.2rem;
}

.tm-btn-submit:focus,
.tm-btn-submit:hover {
  background-color: #676767;
}

.tm-copyright-text {
  margin-bottom: 30px;
}

.tm-my_contact-text {
  align: center;
}

.tm-link {
  color: #676767;
}

@media (max-width: 1054px) {
  .tm-contact-item-icon {
    margin-bottom: 15px;
  }
}

@media (max-width: 991px) {
  .tm-contact-items-container {
    flex-direction: column;
  }

  .tm-contact-item {
    width: auto;
    max-width: 680px;
    min-height: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .tm-contact-item:last-child {
    margin-right: auto;
    margin-bottom: 0;
  }

  #tmContactForm {
    margin-left: auto;
    margin-right: auto;
  }
  

}

@media (max-width: 730px) {
  .tm-portfolio-item {
    flex-direction: column;
  }

  .tm-portfolio-name {
    justify-content: center;
	padding: 70px 95px;
  }
  
  .tm-portfolio-image {
    justify-content: center;
	height: 10px; /* Set the desired height for the div */
    overflow: hidden; /* Ensure the image is clipped if it overflows the div */
  }
  
  .tm-portfolio-image img {
        /* max-width: 100%;*/
        max-height: 100%;
        object-fit: contain; /* This property will make the image fit inside the img tag */
    }

  .tm-portfolio-name,
  .tm-portfolio-description {
    width: 100%;
  }

  .tm-portfolio-description {
    padding: 20px 30px;
  }
  
}

@media (max-width: 572px) {
  .tm-brand-container {
    padding: 45px;
  }
}

@media (max-width: 443px) {
  .tm-brand-name {
    font-size: 3rem;
  }

  .tm-brand-container {
    padding: 25px;
  }
}


/*
  Pop up box section
*/
.box {
  width: 20%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid blue;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: blue;
}




project_table {
        width: 100%;
        /*border-collapse: collapse;*/
    }

    .project_table th, .project_table td {
        /*border: 1px solid black;*/
		padding-top: 20px;
		padding-bottom: 20px;
        padding-left: 8px;
		padding-right: 8px;
        text-align: left;
		
    }
	
	.project_table td {
        height: 250px; /* Set the desired fixed height for the cells */
    }

    /* Set the width for the first column */
    .project_table th:first-child, td:first-child {
        width: 35%; /* Adjust this value to set the width of the first column */
    }
	
	.project_table img {
		border-radius: 10px; /* Adjust the value to control the roundness */
        width: 100%;
        height: auto;
        max-width: 100%; /* Added to prevent larger images from stretching */
        max-height: 100%; /* Added to prevent larger images from stretching */
        object-fit: contain;
    }
	
my_contact_table {
        width: 100%;
        border-collapse: collapse;
		text-align: center;
    }

    .my_contact_table th, .my_contact_table td {
        border: 1px solid black;
		padding-top: 20px;
		padding-bottom: 20px;
        padding-left: 8px;
		padding-right: 8px;
		width: 35%;
    }
	
	.my_contact_table td {
        height: 100px; /* Set the desired fixed height for the cells */
    }
	
	.my_contact_table img {
		border-radius: 10px; /* Adjust the value to control the roundness */
    }
	

popup_table {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}

.popup_table th, .popup_table td {
	border: 1px solid black;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
	width: 35%;
	font-size: 16px;
}

.popup_table td {
	height: 250px; /* Set the desired fixed height for the cells */
}

/* Set the width for the first column */
.popup_table th:first-child, td:first-child {
	width: 35%; /* Adjust this value to set the width of the first column */
}

.popup_table img {
	border-radius: 10px; /* Adjust the value to control the roundness */
	width: 100%;
	height: auto;
	max-width: 100%; /* Added to prevent larger images from stretching */
	max-height: 100%; /* Added to prevent larger images from stretching */
	object-fit: contain;
	padding-bottom: 20px;
	
}	
	
.overlay {
  position: Fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 9999; /* Set a high z-index value to ensure the overlay is on top */
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  /*width: 70%;*/
  position: relative;
  transition: all 5s ease-in-out;
  max-width: 85%; /* Set a maximum width to ensure responsiveness */
  max-height: 80vh; /* Set a maximum height of 80% of the viewport height */
  overflow-y: auto; /* Add vertical scrollbars when content exceeds the height */
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: orange;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}